<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    
    <array>
        
    <dict>
        <key>category</key><string>user</string>
        <key>quote</key><string>One blah blah blah blah
Blah blah blah blah blah blah blah
Blah blah blah blah blah.</string>
    </dict>
        
    <dict>
        <key>category</key><string>user</string>
        <key>quote</key><string>Two blah blah blah blah
Blah blah blah blah blah blah blah
Blah blah blah blah blah.</string>
    </dict>
        
        <dict>
            <key>category</key><string>user</string>
            <key>quote</key><string>Three blah blah blah blah
Blah blah blah blah blah blah blah
Blah blah blah blah blah.</string>
        </dict>        
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>I don't understand.
You love it when I do that--
Wait, no.  That's Stephen.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Frantically hiding
Porno and Mapplethorpe prints--
Mom is on her way.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Remember when I
Said I disliked oral sex?
I meant just with you.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>You were perfection.
Then you misspelled 'embarrassed.'
Don't call me again.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>The salmon's divine,
But I'm afraid we can't stay--
I fucked our waiter.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>It's our second date,
And I'm not sure I love you.
It's time to break up.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>My seventh birthday;
I weep at Barbie's Dream House.
How could you not know?</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>He's gorgeous, witty,
And stimulating.  Please, God,
Let him be a top.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>You fill me with joy
Ineffable, unending.
What's your name again?</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>I had a good time--
Hope I'll see you again soon.
(Here, 'soon' means 'never.')</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Gay marriage gives us
The most vital right of all:
Registry at Saks.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>'Hope you understand.'
Yes, of course I understand.
And I hope you die.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Dilemma at Pride:
March with the Schubert Lovers
Or the Leather Bears?</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Why is it you fuck
As hard and fast as you can?
I'm not PlayStation.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>See the eight-year-old
Knitting mittens on the bus.
Does his mother know?</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Forty-seven times
You said, 'Give me that pussy.  
I have no pussy.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>The romance is gone,
But we're staying together
For the apartment.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Yes, I'm a redhead
All over, top to bottom.
Shame you'll never know.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Yes, this feels quite good.
Still, could you pick up the pace?
Golden Girls is on.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>'Give it to me good--
Oh, yeah, yeah, do it, daddy.'
How embarrassing.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>See the gay man in
His natural habitat:
Bed, Bath, &amp; Beyond.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Group sex would be great
If it weren't for this sad truth:
People have elbows.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Oh, Republicans,
You know just where you can put
Your family values.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>If you plan a tryst,
Do not wear deodorant.
It tastes really gross.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Did you just say you
Think Mansfield Park is boring?
Get out of my house.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>It's nice to meet you.
Matt said you were a great guy.
So:  one dog or two?</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Pride:  shirtless homos
As far as the eye can see.
My pectorals suck.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Going mad in Prague:
Are all these hot guys gay, or
Just European?</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>'You're a musician?'
'I play skin-flute,' you answer.
Whoops.  There's my cell phone.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>'Let's have a drink first.'
Excuse me?  I didn't join
Men4talk.com.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>At gay synagogue,
Men's heads are bowed deep in prayer.
Why aren't you cruising?</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>The guys screwing on
My TV screen are so butch.
Then they start to speak.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>'Here's Death in Venice--
You like murder mysteries.'
Should have dumped you then.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Enthralled by the old
Man and the stories he tells:
Gay before Stonewall.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>I'm astonishing,
But you still can't get it up.
God, I hate Prozac.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>How is it you knew
I wasn't faithful?  Oh, yeah:
Bite marks on my ass.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>You called me 'boyfriend'
And I never phoned again.
. . .  Thing is, you weren't wrong.</string>
            <key>done</key><string></string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>English has no words
For what we just did in bed.
Oh, wait:  'Tedious.'</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Oh, now I get it:
You learned your foreplay technique
From Powertool 2.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>You're smart and handsome
And rich.  Unfortunately,
You live in Jersey.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>You think Kierkegaard
Is a new deodorant--
Why does God hate me?</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>'I don't understand
Why you want to be with me.'
'That's okay.  I do.'</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>'I need time away,
To figure out who I am.'
I can tell you that.</string>
            <key>done</key><string></string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Teens now:  out, proud, and
Ignorant of Auntie Mame.
Pyrrhic victory?</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>You have talked and talked
For hours on end.  Yet still,
My watch says 8:10.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Headline:  'Alien
Loose in New York.'  That's not news--
I am dating him.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>I'm considering
Giving up casual sex:
I hate the subway.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Mother's dilemma:
Her son is gay, but dating
A Jewish doctor.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>'This has been fun, but. . . .'
I've got news for you, honey:
It wasn't that fun.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>He's insightful, but--
Could we find a therapist
You haven't slept with?</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>'Oh, you're on South Beach?
I eat all things and stay thin.'
Get out of my sight.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>I feel so unloved
That I want to kill myself.
It must be Thursday.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Where are all these gays
Going this early?  Oh, right:
Sale at Ikea.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>We all make mistakes.
For instance, I mistook you
For a vertebrate.</string>
            <key>done</key><string></string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Summer, Cherry Grove:
I gaze, wistful, towards the Pines,
Wishing I were chic.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Your lips are so soft,
Your conversation graceful.
It's just--you're not him.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>When he leaves the room,
If I don't burst into tears,
Then is it still love?</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Queer as Folk is trash,
Badly written and acted.
I watch every week.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Break from the orgy.
We stand nude in the kitchen
And discuss Buffy.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Man on the subway
Exclaims, 'Christ paid your sin bill!'
Christ must be loaded.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>You teach aerobics,
Have a physics Ph.D.,
And think my name's Josh.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>'I'll call you Wednesday.'
The phone didn't ring.  Maybe
He meant next Wednesday?</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Met a cute ex-gay
Last night.  As I suspected,
He was cuter nude.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>'You're selfish,' you said;
'There's no 'i' in 'couple.''
Not now, there isn't.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Yoga calms my mind.
Then, unfortunately, I
See the teacher's abs.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>My heart is broken.
Maybe he will change his mind
If I lose five pounds.</string>
            <key>done</key><string></string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Your CD rack has	
No Barbra, Britney, or Cher.		
Are you sure you're gay?</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Rule:  kiss toad, get prince.
It's been three weeks.  So you can
Change anytime now.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>I swear I will not
Rest until justice is done:
Vindicate Martha!</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>I'm not judgmental.
It's just that I have standards
You will never meet.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Minister Fred Phelps:
Depraved homophobe with a
Really bad hairdo.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>'The spark is just gone.'
I can fix that easy, with
Some gas and a match.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Painting the hall--I
Want blue; you insist on mauve.
Will we make it through?</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>You have updated
Your online dating profile--
At least now I know.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>First date; you are a
Log Cabin Republican.
Someone shoot me now.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Lovers at the gym:
Matching A&amp;F tank tops
Make me want to hurl.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>You're cruel and petty
And you like to make me cry.
When can you move in?</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>'He has a boyfriend.'
'No,' you say, 'they've broken up.'
Paralyzed with hope.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Dinner at your mom's--
I smile and pretend not
To notice the dust.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Yes, I forgive you.
I understand you're human.
Though, on second thought. . . .</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Walking through Chelsea
Wearing last year's Versace:
I'm a pariah.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>'I'm very flattered,
But, to be honest with you. . . .'
Why can't you just lie?</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>I am giving you
The best shot possible.  So:
What's with the poking?</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>You fill my heart when
I see you.  The question is . . . 
Is it full enough?</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>It's Dorian Grey
In reverse:  you aged, and yet
Your photo stayed young.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>You are judgmental,
Withholding, and cold.  Jesus--
I'm dating my mom.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>'I have a boyfriend.'
We've been talking three hours.
You are a bastard.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>My therapist and
All my friends say, 'Stay with him!'
They can't hear you snore.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Your room is filled with
Leather and Star Wars figures.
Um, I have to go.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Art, music, theater,
Apricot-mango face scrub--
What haven't gays done?</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>'I'm coming!' you shout,
As if no one had ever
Managed it before.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>'Yeah, suck it, big boy.'
This is fun, I guess.  But I
Could be reading Proust.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>We've just met--I think
We might be going too fast.
So I won't swallow.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>How can we fix us?
The fights, the silence. . . .  I know!
Let's get a puppy!</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>As I leave, my clothes
Back on, I realize what's wrong:
Have you got some gel?</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>You are not the man
I always dreamed I would love--
And yet here we are.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>That's not ten inches--
Unless you happen to be
Counting in base five.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>I'm on a new diet:
Atkins for the Soul.  Sorry,
But you're full of carbs.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>I'd say 'I love you'--
But I'm worried that I won't
Mean it tomorrow.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Ab Fab preempted
By Queer Eye for the Straight Guy:
My life, on TV.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>I am over you.
So why, after I see you,
Are my cheeks so wet?</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Alone at the bar,
My soul filled with deep longing
And deeper terror.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>This orgy is lame.
But I am, alas, in no
Position to leave.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Summer in P-Town,
Picking up guys left and right:
Thank God for my dog.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>No more empty sex:
It is interfering with
My TV schedule.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>I'm turning thirty:
Today, a birthday party.
Tomorrow, the home.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>I know you think I
Like it when you slap my ass.
You are mistaken.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Flailing to the beat--
Could I possibly look half
As dumb as I feel?</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>Last night, you looked hot.
Today, you want to discuss
The whole foods movement.</string>
        </dict>
        
        <dict>
            <key>category</key><string>Derfner</string>
            <key>quote</key><string>'Hope springs eternal.'
Don't people realize this is
A terrible thing?</string>
        </dict>
        
    </array>
    
</plist>