<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>I don&apos;t understand.
You love it when I do that--
Wait, no.  That&apos;s Stephen.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Frantically hiding
Porno and Mapplethorpe prints--
Mom is on her way.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Remember when I
Said I disliked oral sex?
I meant just with you.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>You were perfection.
Then you misspelled "embarrassed."
Don&apos;t call me again.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>The salmon&apos;s divine,
But I&apos;m afraid we can&apos;t stay--
I did our waiter.</string>
	</dict>
    <dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Ladies of The View:
If I kill Elisabeth,
Can I take her seat?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>It&apos;s our second date,
And I&apos;m not sure I love you.
It&apos;s time to break up.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>My seventh birthday;
I weep at Barbie&apos;s Dream House.
How could you not know?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>He&apos;s gorgeous, witty,
And stimulating.  Please, God,
Let him be a top.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>You fill me with joy
Ineffable, unending.
What&apos;s your name again?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>I had a good time--
Hope I&apos;ll see you again soon.
(Here, "soon" means "never.")</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Gay marriage gives us
The most vital right of all:
Registry at Saks.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>"Hope you understand."
Yes, of course I understand.
And I hope you die.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Dilemma at Pride:
March with the Schubert Lovers
Or the Leather Bears?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Why is it you pound
As hard and fast as you can?
I&apos;m not PlayStation.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>See the eight-year-old
Knitting mittens on the bus.
Does his mother know?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Forty-seven times
You said, "Give me that pussy."
I have no pussy.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>The romance is gone,
But we&apos;re staying together
For the apartment.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Yes, I&apos;m a redhead
All over, top to bottom.
Shame you&apos;ll never know.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Yes, this feels quite good.
Still, could you pick up the pace?
Golden Girls is on.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>"Give it to me good--
Oh, yeah, yeah, do it, daddy."
How embarrassing.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>See the gay man in
His natural habitat:
Bed, Bath, &amp; Beyond.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Group sex would be great
If it weren&apos;t for this sad truth:
People have elbows.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Oh, Republicans,
You know just where you can put
Your family values.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>If you plan a tryst,
Do not wear deodorant.
It tastes really gross.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Did you just say you
Think Mansfield Park is boring?
Get out of my house.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>It&apos;s nice to meet you;
Matt said you were a great guy.
So:  one dog or two?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Pride:  shirtless homos
As far as the eye can see.
My pectorals suck.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Going mad in Prague:
Are all these hot guys gay, or
Just European?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>"You&apos;re a musician?"
"I play skin-flute," you answer.
Whoops.  There&apos;s my cell phone.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>"Let&apos;s have a drink first."
Excuse me?  I didn&apos;t join
Men4talk.com.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>At gay synagogue,
Men&apos;s heads are bowed deep in prayer.
Why aren&apos;t you cruising?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>The guys screwing on
My TV screen are so butch.
Then they start to speak.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>"Here&apos;s Death in Venice--
You like murder mysteries."
Should have dumped you then.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Enthralled by the old
Man and the stories he tells:
Gay before Stonewall.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>I&apos;m astonishing,
But you still can&apos;t get it up.
God, I hate Prozac.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>How is it you knew
I wasn&apos;t faithful?  Oh, yeah:
Bite marks on my ass.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>You called me "boyfriend"
And I never phoned again.
. . .  Thing is, you weren&apos;t wrong.</string>
		<key>done</key>
		<string></string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>English has no words
For what we just did in bed.
Oh, wait:  "Tedious."</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Oh, now I get it:
You learned your foreplay technique
From Powertool 2.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>You&apos;re smart and handsome
And rich.  Unfortunately,
You live in Jersey.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>You think Kierkegaard
Is a new deodorant--
Why does God hate me?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>"I don&apos;t understand
Why you want to be with me."
"That&apos;s okay.  I do."</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>"I need time away,
To figure out who I am."
I can tell you that.</string>
		<key>done</key>
		<string></string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Teens now:  out, proud, and
Ignorant of Auntie Mame.
Pyrrhic victory?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>You have talked and talked
For hours on end.  Yet still,
My watch says 8:10.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Headline:  "Alien
Loose in New York."  That&apos;s not news--
I am dating him.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>I&apos;m considering
Giving up casual sex:
I hate the subway.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Mother&apos;s dilemma:
Her son is gay, but dating
A Jewish doctor.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>"This has been fun, but...."
I&apos;ve got news for you, honey:
It wasn&apos;t that fun.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>He&apos;s insightful, but--
Could we find a therapist
You haven&apos;t slept with?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>"Oh, you&apos;re on South Beach?
I eat all things and stay thin."
Get out of my sight.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>I feel so unloved
That I want to kill myself.
It must be Thursday.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Where are all these gays
Going this early?  Oh, right:
Sale at Ikea.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>We all make mistakes.
For instance, I mistook you
For a vertebrate.</string>
		<key>done</key>
		<string></string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Summer, Cherry Grove:
I gaze, wistful, towards the Pines,
Wishing I were chic.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Your lips are so soft,
Your conversation graceful.
It&apos;s just--you&apos;re not him.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>When he leaves the room,
If I don&apos;t burst into tears,
Then is it still love?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Queer as Folk is trash,
Badly written and acted.
I watch every week.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Break from the orgy.
We stand nude in the kitchen
And discuss Runway.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Man on the subway
Exclaims, "Christ paid your sin bill!"
Christ must be loaded.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>You teach aerobics,
Have a physics Ph.D.,
And think my name&apos;s Josh.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>"I&apos;ll call you Wednesday."
The phone didn&apos;t ring.  Maybe
He meant next Wednesday?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Met a cute ex-gay
Last night.  As I suspected,
He was cuter nude.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>"You&apos;re selfish," you said;
"There&apos;s no &apos;i&apos; in &apos;couple.&apos; "
Not now, there isn&apos;t.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Yoga calms my mind.
Then, unfortunately, I
See the teacher&apos;s abs.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>My heart is broken.
Maybe he will change his mind
If I lose five pounds.</string>
		<key>done</key>
		<string></string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Your CD rack has	
No Barbra, Gaga, or Cher.
Are you sure you&apos;re gay?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Rule:  kiss toad, get prince.
It&apos;s been three weeks.  So you can
Change anytime now.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>I swear I will not
Rest until justice is done:
Vindicate Martha!</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>I&apos;m not judgmental.
It&apos;s just that I have standards
You will never meet.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Minister Fred Phelps:
Depraved homophobe with a
Really bad hairdo.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>"The spark is just gone."
I can fix that easy, with
Some gas and a match.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Painting the hall--I
Want blue; you insist on mauve.
Will we make it through?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>You have updated
Your online dating profile--
At least now I know.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>First date; you are a
Log Cabin Republican.
Someone shoot me now.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Lovers at the gym:
Matching A&amp;F tank tops
Make me want to hurl.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>You&apos;re cruel and petty
And you like to make me cry.
When can you move in?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>"He has a boyfriend."
"No," you say, "they&apos;ve broken up."
Paralyzed with hope.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Dinner at your mom&apos;s--
I smile and pretend not
To notice the dust.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Yes, I forgive you.
I understand you&apos;re human.
Though, on second thought. . . .</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Walking through Chelsea
Wearing last year&apos;s Versace:
I&apos;m a pariah.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>"I&apos;m very flattered,
But, to be honest with you...."
Why can&apos;t you just lie?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>I am giving you
The best shot possible.  So:
What&apos;s with the poking?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>You fill my heart when
I see you.  The question is . . . 
Is it full enough?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>It&apos;s Dorian Grey
In reverse:  you aged, and yet
Your photo stayed young.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>You are judgmental,
Withholding, and cold.  Jesus--
I&apos;m dating my mom.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>"I have a boyfriend."
We&apos;ve been talking three hours.
You are a bastard.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>My therapist and
All my friends say, "Stay with him!"
They can&apos;t hear you snore.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Your room is filled with
Leather and Star Wars figures.
Um, I have to go.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Art, music, theater,
Apricot-mango face scrub--
What haven&apos;t gays done?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>"I&apos;m coming!" you shout,
As if no one had ever
Managed it before.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>"Yeah, suck it, big boy."
This is fun, I guess.  But I
Could be reading Proust.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>We&apos;ve just met--I think
We might be going too fast.
So I won&apos;t swallow.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>How can we fix us?
The fights, the silence. . . .  I know!
Let&apos;s get a puppy!</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>As I leave, my clothes
Back on, I realize what&apos;s wrong:
Have you got some gel?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>You are not the man
I always dreamed I would love--
And yet here we are.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>That&apos;s not ten inches--
Unless you happen to be
Counting in base five.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>I&apos;m on a new diet:
Atkins for the Soul.  Sorry,
But you&apos;re full of carbs.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>I&apos;d say "I love you"--
But I&apos;m worried that I won&apos;t
Mean it tomorrow.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Ab Fab preempted
By Queer Eye for the Straight Guy:
My life, on TV.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>I am over you.
So why, after I see you,
Are my cheeks so wet?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Alone at the bar,
My soul filled with deep longing
And deeper terror.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>This orgy is lame.
But I am, alas, in no
Position to leave.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Summer in P-Town,
Picking up guys left and right:
Thank God for my dog.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>No more empty sex:
It is interfering with
My TV schedule.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>I&apos;m turning thirty:
Today, a birthday party.
Tomorrow, the home.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>I know you think I
Like it when you slap my ass.
You are mistaken.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Flailing to the beat--
Could I possibly look half
As dumb as I feel?</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Last night, you looked hot.
Today, you want to discuss
The whole foods movement.</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>"Hope springs eternal."
Don&apos;t people realize this is
A terrible thing?</string>
	</dict>
    <dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Sure, the guys are hot,
But, Sean Cody, I must say:
I&apos;m sick of the beige.</string>
	</dict>
    <dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Fight oppression now!
Cruise the mall, have sex in the
Chik-Fil-A bathroom.</string>
	</dict>
    <dict>
		<key>category</key>
		<string>Derfner</string>
		<key>quote</key>
		<string>Nina, Michael, and
Heidi, you are as nothing--
Not compared with Tim.</string>
	</dict>
    <dict>
        <key>category</key>
        <string>Derfner</string>
        <key>quote</key>
        <string>"I&apos;m not racist; it&apos;s
Just I don&apos;t go for black guys."
Yawn, yawn, yawn, yawn, yawn.</string>
    </dict>
    <dict>
        <key>category</key>
        <string>Derfner</string>
        <key>quote</key>
        <string>New T-shirt: "I&apos;m not
Pope Benedict the Sixteenth...
But my boyfriend is."</string>
    </dict>
    <dict>
        <key>category</key>
        <string>Derfner</string>
        <key>quote</key>
        <string>Oh, Tyra.  Tyra.
Oh, Tyra, Tyra, Tyra,
Tyra, Tyra.  No.</string>
    </dict>
</array>
</plist>
